
          {% include "sidebar.html" %}

      <main class="main">
    
        <!-- Hero Section -->
         {% for i in header %}
        <section id="hero" class="hero section dark-background">
        <!-- style="background-image: url('/{{i.header_image}}')" height="100"> -->
    
          <img src="/{{i.header_image}}"  height="100px" data-aos="fade-in" class="">
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>{{i.header_heading}}</h2>
            <p>I'm <span class="typed" data-typed-items=" Developer, Freelancer, Photographer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
          </div>
    
        </section><!-- /Hero Section -->
        {% endfor %}
    {% for i in about %}
        <!-- About Section -->
        <section id="about" class="about section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>{{i.about_heading}}</h2>
<p>{{i.about_details}}</p>          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-4">
                <img src="/{{i.about_image}}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-8 content">
                <h2>{{i.about_sub_title}}</h2>
                <p class="fst-italic py-3">{{i.about_sub_details}}
                </p>
                <div class="row">
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{i.about_birthday}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{i.about_website}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+ {{i.about_phone}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{i.about_city}}</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{i.about_age}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{i.about_degree}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{i.about_email}}</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{i.about_freelance}}</span></li>
                    </ul>
                  </div>
                </div>
                <p class="py-3">
                  Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                  Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
                </p>
              </div>
            </div>
    
          </div>
    
        </section><!-- /About Section -->
    {% endfor %}
        <!-- Stats Section -->
        <section id="stats" class="stats section">
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row gy-4">
    {% for i in happyclient %}
              <div class="col-lg-3 col-md-6">
                <div class="stats-item image-fluid">
                    <img src="/{{i.happy_image}}" width="90px">
                  <span data-purecounter-start="0" data-purecounter-end="{{i.happy_number}}" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>{{i.happy_title}}</strong> <span>consequuntur quae</span></p>
                </div>
              </div><!-- End Stats Item -->
    {% endfor %}
             <!-- End Stats Item -->
    
            </div>
    
          </div>
    
        </section><!-- /Stats Section -->
    
        <!-- Skills Section -->
        <section id="skills" class="skills section light-background">
    
            <!-- Section Title -->
            
            <div class="container section-title" data-aos="fade-up">
              <h2>Skills</h2>
                    <!-- Skill Progress Bars -->
                    <div class="row">
                {% for i in skill %}
                      <!-- HTML -->
                      <div class="col-md-6 mb-4">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title skill-title"><i class="bi bi-file-earmark-code"></i> {{i.skill_heading}}</h5>
                            <div class="progress ">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">{{i.skill_progress}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
                      <!-- CSS -->
  
                    </div> <!-- End of row -->
                  
                
              
            </div>
        
          </section>
       <!-- /Skills Section -->
    
        <!-- Resume Section -->
        <section id="resume" class="resume section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div><!-- End Section Title -->
    
          <div class="container">
    
            <div class="row">
    
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>
    
                <div class="resume-item pb-0">
                  <h4>Brandon Johnson</h4>
                  <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                  <ul>
                    <li>Portland par 127,Orlando, FL</li>
                    <li>(123) 456-7891</li>
                    <li>alice.barkley@example.com</li>
                  </ul>
                </div><!-- Edn Resume Item -->
    
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                  <h4>Master of Fine Arts &amp; Graphic Design</h4>
                  <h5>2015 - 2016</h5>
                  <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                  <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div><!-- Edn Resume Item -->
    
                <div class="resume-item">
                  <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
                  <h5>2010 - 2014</h5>
                  <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                  <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                </div><!-- Edn Resume Item -->
    
              </div>
    
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                  <h4>Senior graphic design specialist</h4>
                  <h5>2019 - Present</h5>
                  <p><em>Experion, New York, NY </em></p>
                  <ul>
                    <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                    <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                    <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                    <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                  </ul>
                </div><!-- Edn Resume Item -->
    
                <div class="resume-item">
                  <h4>Graphic design specialist</h4>
                  <h5>2017 - 2018</h5>
                  <p><em>Stepping Stone Advertising, New York, NY</em></p>
                  <ul>
                    <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                    <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                    <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                    <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                  </ul>
                </div><!-- Edn Resume Item -->
    
              </div>
    
            </div>
    
          </div>
    
        </section><!-- /Resume Section -->
    





         <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
            <li data-filter=".filter-books">Books</li>
          </ul><!-- End Portfolio Filters -->
          {% for i in portfolio %}

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="/{{i.portfolio_appimage_1}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="/static/assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            {% endfor %}
      

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->












        <!-- Services Section -->
        <section id="services" class="services section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div><!-- End Section Title -->
    
          <div class="container">
    
            <div class="row gy-4">
    {% for i in services %}
              <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0 bg-light "><img src="/{{i.services_image}}" width="40px"></div>
                <div>
                  <h4 class="title"><a href="service-details.html" class="stretched-link">{{i.services_title}}</a></h4>
                  <p class="description">{{i.services_details}}</p>
                </div>
              </div>
              <!-- End Service Item -->
    
              {% endfor %}
    
            </div>
    
          </div>
    
        </section><!-- /Services Section -->
    
        <!-- Testimonials Section -->
         
        <section id="testimonials" class="testimonials section light-background">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Testimonials</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": 1
                    }
                  }
                }
              </script>
              
              <div class="swiper-wrapper">
                {% for i in testimonials %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>

                      <span>{{i.testimonials_review}}</span>      
                                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <img src="/{{i.testimonials_image}}" class="testimonial-img" alt="">
                    <h3>{{i.testimonials_name}}</h3>
                    <h4>{{i.testimonails_post}}</h4>
                  </div>
                </div><!-- End testimonial item -->
    
                {% endfor %}

    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
    
        </section>
        <!-- /Testimonials Section -->
    

        <!-- Contact Section -->  {% for i in contact %}
        <section id="contact" class="contact section">
    
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Contact</h2>
              <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div><!-- End Section Title -->
        
            <div class="container" data-aos="fade-up" data-aos-delay="100">
        
              <div class="row gy-4">
              
                <div class="col-lg-5">
        
                  <div class="info-wrap">
                   
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                      <i class="bi bi-geo-alt flex-shrink-0"></i>
                      <div>
                        <h3>Address</h3>
                        <p>{{i.contact_Address}}</p>
                      </div>
                    </div><!-- End Info Item -->
        
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                      <i class="bi bi-telephone flex-shrink-0"></i>
                      <div>
                        <h3>Call Us</h3>
                        <p>{{i.contact_Call}}</p>
                      </div>
                    </div><!-- End Info Item -->
        
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                      <i class="bi bi-envelope flex-shrink-0"></i>
                      <div>
                        <h3>Email Us</h3>
                        <p>{{i.contact_Email}}</p>
                      </div>
                    </div><!-- End Info Item -->
        
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
       
                <div class="col-lg-7">
                  <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
        
                      <div class="col-md-6">
                        <label for="name-field" class="pb-2">Your Name</label>
                        <input type="text" name="name" id="name-field" class="form-control" required="">
                      </div>
        
                      <div class="col-md-6">
                        <label for="email-field" class="pb-2">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email-field" required="">
                      </div>
        
                      <div class="col-md-12">
                        <label for="subject-field" class="pb-2">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject-field" required="">
                      </div>
        
                      <div class="col-md-12">
                        <label for="message-field" class="pb-2">Message</label>
                        <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                      </div>
        
                      <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
        
                        <button type="submit">Send Message</button>
                      </div>
        
                    </div>
                  </form>
                </div><!-- End Contact Form -->
        
              </div>
        
            </div>
        
          </section>
          {% endfor %}
      </main>
    
      {% include "footer.html" %}